################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Re4xAPI/v15/ipch
/.vs
/Re4xAPI/x64/Debug
/x64/Debug
